---
import Layout from './Layout.astro'

type Props = {
  title: string
  menuHighlight?: string
  noindex?: boolean
}

const { title, noindex } = Astro.props
---

<Layout title={title} noindex={noindex}>
  <div class="computed-h-screen flex flex-col text-gray-900 lg:flex-row lg:gap-3">
    <main class="relative flex-1">
      <slot />
    </main>
  </div>
</Layout>
